*{
    background-color: #6151C3;
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
        
}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    counter-reset: numb;
}
.container1{
    color:white;
    margin:20px 30px 10px 30px;
    display:flex;
    justify-content: space-between;    
    position:fixed;
    top:0;
    width:95%;
}

.container1 a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
a:hover{
    font-size: 20px;
    transition: font-size 0.2s ease-in-out;
}
.navitem1 a{
    font-size: 24px;
    font-weight: bold;
}
.navitem2 a{
    padding:0 20px;
}
.container1 ion-icon{
    font-size: 20px;
}
.navitem6{
    display:none;
}
@media only screen and (max-width: 800px){
    .navitem6{
        display:block;
    }
    .navitem2,.navitem3,.navitem4,.navitem5{
        display:none;
    }
}

.container2{
    position: relative;
    top:50px;
    right:30px;
    width:100%;
    display: flex;
    justify-content: flex-end;
}
.container2 ion-icon{
    font-size: 25px;
    color:white;
    padding:10px;
    
}
.container2 ion-icon:hover{
    transform: scale(1.1);
}
.container3{
    position: relative;
    top:55px;
    left:30px;
    right:30px;
    width:95%;
    display:flex;
    justify-content: space-between;
    margin: 10px 30px 30px 10px;
    
}
.abt1,.abt2,.abt3{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width:28%;
    height:40vh;
    padding:10px 10px;
    background-color: white;
    color:black;
    border-radius: 25px;
}
.container3 ion-icon{
    font-size:40px;
    background-color: white;
}
.container3 h2{
    font-size:24px;
    background-color: white;
    padding:10px 10px;
    text-align: center;
}
.container3 p{
    font-size:16px;
    background-color: white;
    text-align: center;
    padding:10px 10px;
}
.abt1:hover,.abt2:hover,.abt3:hover{
    transform:scale(1.05);
    transition: 0.4s ease-in-out;
}
.container4{
    position: relative;
    top:100px;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center; 
     
    
}
.container4 button{
    background-color: white;
    padding:20px 80px;    
    border-radius: 25px;
}

.container4 button:hover{
    transform:scale(1.05);
    transition: 0.4s ease-in-out;
}
.container4 a{
    text-decoration: none;
    background-color: white;
    color:#6151C3;
      
    font-size:22px;
    font-weight: bold;
    
}
.container5{
    position: relative;
    top:160px;
    width:100%;
    bottom:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:40vh;
    background:linear-gradient(to bottom right,#ff00d4,#00ddff);
    background: url(https://source.unsplash.com/random/30x30);

}
.container5:hover{
    background:linear-gradient(to top left,#ff00d4,#00ddff);
    opacity: 0.5;    
}

.container6{
    position: relative;
    top:200px;
    padding-bottom: 50px;
    width:90%;
    display:flex;
    flex-flow: column wrap;
    margin: 0 30px 10px 30px;
}
.discoverhead{
    padding:10px 0px;
    color:white;
}
.myloc{
    padding:10px 0px;
    color:white;
}
.property{
    margin-top:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
        
}
.prop1,.prop2,.prop3,.prop4,.prop5{
    display:flex;
    flex-flow:column nowrap;
    justify-content: center;
    
    align-items: center;
    color:#6151C3;
    background-color: white;
    padding:10px 60px;
    border-radius: 25px;      
}
.prop1:hover,.prop2:hover,.prop3:hover,.prop4:hover,.prop5:hover{
    transform: rotate(10deg);
    transition: transform 0.6s ease-in-out;
}

.propname{
    padding:10px 0px;
    text-align: center;
    background-color: white;
}
.property ion-icon{
    padding:10px 0px;
    text-align: center;
    font-size: 30px;
    background-color: white;
}
.propvalue{
    padding:10px 0px;
    text-align: center;
    background-color: white;
}
.around{
    position: relative;
    top:200px;
    margin-left:30px;
    padding-bottom: 10px;
    color:white;
}
.container7{
    position: relative;
    top:200px;
    padding-bottom: 50px;
    width:90%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 10px 30px;
}
.country{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    color:#6151C3;
    margin-top:20px;
    padding:10px 60px;
    border-radius: 25px;
}
.country:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}
.countryname{
    padding: 10px 0px;
    background-color: white;
    color:#6151C3;
}

.country ion-icon{
    padding: 10px 0px;
    background-color: white;
    font-size:30px;
    color:#6151C3;
}
.country h4{
    padding: 10px 0px;
    background-color: white;
    color:#6151C3;
}
.container8{
    position: relative;
    top:250px;
    padding-bottom: 50px;
    width:95%;
    display:flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 10px 30px;
    background-color: white;
    border-radius:25px;
    overflow-x: scroll;
}
.galleryhead{
    background-color: white;
    color:#6151C3;
    margin-top:15px;
}
.glarryimgs{
    display:flex;
    margin-top:15px;
    background-color: white;
}
.glarryimgs img{
    margin: 0 10px;
    background-color: white;
    border-radius:25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}
.container9{
    position: relative;
    top:300px;
    padding-bottom: 50px;
    width:95%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container9 button{
    background-color: white;
    color:#6151C3;
    padding : 20px 30px;
    border-radius: 25px;
}
.container9 button:hover{
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out; 
}
.container9 button a{
    
    background-color: white;
    color:#6151C3;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}
form{
    position: relative;
    top:340px;
    margin-bottom: 50px;
    width:100%;
    background-color: white;
    display:flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding:20px 0 30px 20px;
    border-radius: 25px;
}
.surveyname{
    background-color: white;
}
.formdiv{
    display:flex;
    width:100%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    margin-left:950px;
}

.formdiv label{
    text-align: right;
    background-color: white;
    color:#6151C3;
    padding:20px 0 0 20px;
    font-size: 20px;
    font-weight: bold;   
}
.formdiv input{
    border-radius: 5px;
    width:30%;
    height:30px;
    margin:20px 0 0 20px;
    color:white;
}
input[type=radio]{
    height:10px;
    margin:20px 0 0 20px;
    width:7%;
}
input[type=checkbox]{
    height:10px;
    margin:20px 0 0 20px;
    width:7%;
}
input[type=file]{
    height:20px;
    margin:20px 0 0 20px;
    width:20%;
}
.formdiv select{
    height:30px;
    margin:20px 0 0 20px;
    width:20%;
    color:white;
}
textarea{
    height:60px;
    width:20%;
    margin:20px 0 0 20px;
    color:white;
}
.container10{
    position: relative;
    top:350px;
    margin:30px auto;
    width:95%;
}
table{
    width:95%;
    color:white;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin:auto 30px;
    padding:auto 30px;
}
th{
    border: 1px solid #fff;
    border-radius: 5px;
    font-size:24px;
    margin:15px 15px;
    padding:10px 0; 
}
td{
    border: 1px solid #fff;
    border-radius: 5px;
    margin:15px 15px; 
    padding:5px 0;
}
tr:nth-child(2n){
    color:aqua;
    background-color: bisque;
}
.container11{
    position: relative;
    top:410px;
    margin:30px auto;
    width:95%;
    display: flex;
    justify-content: center;
    align-items: center;
}
iframe{
    
    margin: auto 10px;
    border: 1px solid #fff;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
}
.container12{
    position: relative;
    top:410px;
    margin:30px auto;
    width:95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color:white;
}
.tabdiv{
    display: flex;
    flex-flow: column nowrap;
}

.tabdiv{
    display:none;
    flex-grow: 1;
    width:100%;
    padding: 20px 20px;
    font-size: large;
    order:99;
    flex-grow: 1;
    background-color: white;
    border-radius: 15px;
}
.tabdiv p{
    background-color: white;
    color:#6151C3;
}
.container12 label{
    display:block;
    position: relative;
    cursor: pointer;
    padding:0 20px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    order:1;
    margin-right: 30px;
}
.container12 input[type="radio"]:checked + label::before{
    display:none;
    content:'Tool Tip Number One to check';
    position:absolute;
    bottom:100%;
    left:50%;
    border: 1px solid #6151C3;
    width:200%;
    font-size: 16px;
    background-color:white;
}
.container12 input[type="radio"]:checked + label:hover::before{
    display:block;
}
.container12 input[type="radio"]{
    display:none;
}
.container12 input[type="radio"]:checked + label{
    background-color: white;
    color:#6151C3;
    border-radius: 15px;
}
.container12 input[type="radio"]:checked + label + .tabdiv{
    display:block;
}
.container13{
    position: relative;
    top:450px;
    margin:30px auto;
    width:95%;
    display: flex;
    color:white;
    font-size: 24px;
    justify-content: space-between;
    align-items: center;
}

.ullist{
    display:flex;
    flex-flow: column nowrap;
    padding : 10px 20px;
}
@font-face{
    font-family:Opensans-Regular;
    src: url(/fonts/OpenSans-Regular.ttf);
}
.ullist li{
    padding : 10px 20px;
    
}
.ullist li:before{
    counter-increment: numb;
    content: "Item no. " counter(numb) ":";
    font-family:Opensans-Regular;
}
.list1{
    list-style-type: disc;
}
.list2{
    list-style-image:linear-gradient(to bottom right,orange,white);
}
.overp{
    width:20%;
    height: 7%;
    overflow: scroll;
}
.container14{
    position: relative;
    top:450px;
    margin:30px auto;
    width:95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.imgcon{
    position:absolute;
    color:white;
    font-size: 20px;
    top:0;
    right:80%;
    background: rgba(255, 255, 255, 0.1);
    text-shadow: 2px 2px black;
}
.container14 img{
    filter: blur(20%);
    filter: grayscale(40%);
    filter: opacity(0.8);
    
}
.overlaybox{
    display:none;
    position:absolute;
    width:1200px;
    height:600px;
    background-color:rgba(255, 255, 255, 0.4) ;
}
.overlltex{
    display:none;
    position:absolute;
    top:50%;
    right:50%;
    font-size:30px;
    color:black;
    background-color:rgba(255, 255, 255, 0.4) ;
}
.container14:hover .overlaybox,.overlltex{
    display: block;
    transition: 0.6s ease-in-out;
}
.container15{
    position: relative;
    top:510px;
    margin:30px auto;
    width:95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container15 img{
    width:280px;
    height:150px;
    object-fit: cover;
    object-position: 20% 100%;
    padding: 0 10px;
}
.container16{
    position: relative;
    top:600px;
    margin:30px auto;
    width:75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container16 a{
    padding: 0 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #6151C3;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}
